<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>头部-有点</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/public.css" />
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/public.js"></script>
</head>

<body>
	<!-- 头部 -->
	<div class="head">
		<div class="headL">
			<img class="headLogo" src="__PUBLIC__/Admin/img/logLOGO.png" />
		</div>
		<div class="headR">
			<p class="p1">
				欢迎，
				<?php echo session('username');?>
			</p>
			<p class="p2">
				
					<li><a href="__MODULE__/Login/logout">退出</a></li>
			</p>
		</div>
		<!-- onclick="{if(confirm(&quot;确定退出吗&quot;)){return true;}return false;}" -->
	</div>

	<div class="closeOut">
		<div class="coDiv">
			<p class="p1">
				<span>X</span>
			</p>
			<p class="p2">确定退出当前用户？</p>
			<P class="p3">
				<a class="ok yes" href="#">确定</a><a class="ok no" href="#">取消</a>
			</p>
		</div>
	</div>



</body>
</html>


<body id="bg">
	<!-- 左边节点 -->
	<div class="container">

		<div class="leftsidebar_box">
			<a href="../main.html" target="main"><div class="line">
					<img src="__PUBLIC__/Admin/img/coin01.png" />&nbsp;&nbsp;首页
				</div></a>
			<!-- <dl class="system_log">
			<dt><img class="icon1" src="__PUBLIC__/Admin/img/coin01.png" /><img class="icon2"src="__PUBLIC__/Admin/img/coin02.png" />
				首页<img class="icon3" src="__PUBLIC__/Admin/img/coin19.png" /><img class="icon4" src="__PUBLIC__/Admin/img/coin20.png" /></dt>
		</dl> -->
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__PUBLIC__/Admin/img/coin03.png" /><img class="icon2"
						src="__PUBLIC__/Admin/img/coin04.png" /> 网站管理<img class="icon3"
						src="__PUBLIC__/Admin/img/coin19.png" /><img class="icon4"
						src="__PUBLIC__/Admin/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__PUBLIC__/Admin/img/coin111.png" /><img class="coin22"
						src="__PUBLIC__/Admin/img/coin222.png" /><a class="cks" href="../user.html"
						target="main">管理员管理</a><img class="icon5" src="__PUBLIC__/Admin/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__PUBLIC__/Admin/img/coin05.png" /><img class="icon2"
						src="__PUBLIC__/Admin/img/coin06.png" /> 公共管理<img class="icon3"
						src="__PUBLIC__/Admin/img/coin19.png" /><img class="icon4"
						src="__PUBLIC__/Admin/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__PUBLIC__/Admin/img/coin111.png" /><img class="coin22"
						src="__PUBLIC__/Admin/img/coin222.png" /><a class="cks" href="__MODULE__/Cate/lst"
						target="main">栏目管理</a><img class="icon5" src="__PUBLIC__/Admin/img/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="__PUBLIC__/Admin/img/coin111.png" /><img class="coin22"
						src="__PUBLIC__/Admin/img/coin222.png" /><a class="cks" href="__MODULE__/Article/lst"
						target="main">文章管理</a><img class="icon5" src="__PUBLIC__/Admin/img/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
-				<dt>
					<img class="icon1" src="__PUBLIC__/Admin/img/coin07.png" /><img class="icon2"
						src="__PUBLIC__/Admin/img/coin08.png" /> 会员管理<img class="icon3"
						src="__PUBLIC__/Admin/img/coin19.png" /><img class="icon4"
						src="__PUBLIC__/Admin/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__PUBLIC__/Admin/img/coin111.png" /><img class="coin22"
						src="__PUBLIC__/Admin/img/coin222.png" /><a href="../vip.html" target="main"
						class="cks">会员管理</a><img class="icon5" src="__PUBLIC__/Admin/img/coin21.png" />
				</dd>
			</dl>
			
			
			
			
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__PUBLIC__/Admin/img/coinL1.png" /><img class="icon2"
						src="__PUBLIC__/Admin/img/coinL2.png" /> 系统管理<img class="icon3"
						src="__PUBLIC__/Admin/img/coin19.png" /><img class="icon4"
						src="__PUBLIC__/Admin/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__PUBLIC__/Admin/img/coin111.png" /><img class="coin22"
						src="__PUBLIC__/Admin/img/coin222.png" /><a href="../changepwd.html"
						target="main" class="cks">修改密码</a><img class="icon5"
						src="__PUBLIC__/Admin/img/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="__PUBLIC__/Admin/img/coin111.png" /><img class="coin22"
						src="__PUBLIC__/Admin/img/coin222.png" /><a href="../log.html" class="cks">退出</a><img
						class="icon5" src="__PUBLIC__/Admin/img/coin21.png" />
				</dd>
			</dl>

		</div>

	</div>
</body>
</html>

{__CONTENT__}