<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广告-有点</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/css.css" />
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="__PUBLIC__/Admin/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">公共管理</a>&nbsp;-</span>&nbsp;意见管理
			</div>
		</div>
		<div class="page">
			<!-- banner页面样式 -->
			<div class="banner">
				<div class="add">
					<a class="addA" href="add.html">添加&nbsp;&nbsp;+</a>
				</div>
				<!-- banner 表格 显示 -->
				<div class="banShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="66px" class="tdColor tdC">序号</td>
							<td width="315px" class="tdColor">名称</td>
							
							<td width="125px" class="tdColor">操作</td>
						</tr>
                                            <volist name="list" id="vo">
						<tr>
							<td>{$vo.id}</td>
							<td>{$vo.username}</td>
                            
							
							
							<td><a href="__CONTROLLER__/edit/id/{$vo.id}"><img class="operation"
			src="__PUBLIC__/Admin/img/update.png"></a> <a class="link-del" onclick="return confirm('确定删除本栏目及其子栏目？');" href="__CONTROLLER__/del/id/{$vo.id}">删除</a> </td>
						</tr>
                                            </volist>
					</table>
                                    <div class="paging" style="text-align: center">{$page}</div>
				</div>
				<!-- banner 表格 显示 end-->
			</div>
			<!-- banner页面样式end -->
		</div>

	</div>


	
</body>

<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});

</script>
</html>